@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* ν—¤λ” */
#header-wrap {
	position: absolute;
	left: 0;
	right: inherit;
	width: 100%;
	z-index: 100;
	background-color: black;
	height: 150px;
	border-bottom: 1px solid white;
}

#header {
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

#util-left-area {
	text-align: center;
	position: absolute;
	width: 300px;
	top: 0;
	left: -40px;
	margin-top: 20px;
}

#left-link>a {
	font-size: 12px;
	color: #888;
	padding: 0 10px 0 10px;
}

#left-link>a:hover {
	border-bottom: 1px solid #888;
}

#util-right-area {
	text-align: center;
	position: absolute;
	width: 300px;
	right: -50px;
	top: 0;
	margin-top: 20px;
}

#right-link>a {
	font-size: 12px;
	color: #888;
	padding: 0 10px 0 10px;
}

#right-link>a:hover {
	border-bottom: 1px solid #888;
}

.login_form>button {
	border: none;
	font-size: 12px;
	color: #888;
	background-color: transparent;
	cursor: default;
	font-size: 12px;
}

.login_form>button:hover {
	cursor:pointer;
	border-bottom: 1px solid #888;
}

#logo {
	width: 280px;
	height: 130px;
	padding-top: 5px;
	margin: 0 auto;
	position: relative;
}

#logo>a>img {
	width: 100%;
	height: 100%;
	position: relative;
}

#link-area:before {
	content: '';
	display: table;
}

#link-area {
	position: relative;
	width: 1100px;
	margin: 0 auto;
}

#link-area a.btn-layer-sitemap {
	left: 0;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-sitemap-white.png);
}

#link-area a.btn-layer-search {
	left: 40px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png);
}

#link-area a.link-ticket {
	right: 40px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule-white.png);
}

#link-area a.btn-layer-mymega {
	right: 0;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-mymega-white.png);
}

#link-area>a {
	display: block;
	position: absolute;
	top: -45px;
	width: 36px;
	height: 36px;
	font-size: 0;
	line-height: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
}

#link-area>a:visited {
	color: #666;
	text-decoration: none;
	outline: 1px dotted #000;
}

#link-area:after {
	clear: both;
	content: '';
	display: table;
}

#gnb {
	background-color: rgba(0, 0, 0, .2);
	margin-top: -13px;
}

#gnb ul:after, #gnb ul:before {
	content: '';
	display: table;
}

#gnb>ul {
	position: relative;
	width: 1100px;
	margin: 90px auto 0 auto;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}

#gnb>ul>li {
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}

#gnb>ul>li>a {
	color: #fff;
}

#gnb ul li a {
	display: block;
}

a:visited {
	text-decoration: none;
	outline: 1px dotted #000;
}

a {
	background-color: transparent;
}

#gnb>ul>li>a {
	position: absolute;
	top: -38px;
	height: 38px;
	text-indent: -9999px;
	background-position: center 0;
	background-repeat: no-repeat;
}

#gnb>ul>li>a.gnb-txt-movie {
	width: 30px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-movie-white.png);
}

#gnb>ul>li:nth-child(1)>a {
	left: 166px;
}

#gnb>ul>li>a.gnb-txt-reserve {
	width: 30px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-reserve-white.png);
}

#gnb>ul>li:nth-child(2)>a {
	left: 256px;
}

#gnb>ul>li>a.gnb-txt-theater {
	width: 31px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-theater-white.png);
}

#gnb>ul>li:nth-child(3)>a {
	left: 345px;
}

#gnb>ul>li>a.gnb-txt-event {
	width: 45px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-event-white.png);
}

#gnb>ul>li:nth-child(4)>a {
	right: 350px;
}

#gnb>ul>li>a.gnb-txt-store {
	width: 44px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-store-white.png);
}

#gnb>ul>li:nth-child(5)>a {
	right: 245px;
}

#gnb>ul>li>a.gnb-txt-benefit {
	width: 29px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-benefit-white.png);
}

#gnb>ul>li:nth-child(6)>a {
	right: 155px;
}

/* ν‘Έν„° */
#footer {
	position: relative;
	min-width: 1100px;
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	background-color: #f8f8fa;
}

#footer-top {
	overflow: hidden;
	width: 1100px;
	margin: 0 auto;
	padding: 30px 0;
}

.inner-wrap {
	width: 1100px;
	margin: 0 auto;
}

.inner-wrap:before {
	content: '';
	display: table;
}

.inner-wrap:after {
	content: '';
	display: table;
	clear: both;
}

#fnb {
	float: left;
}

#fnb li:first-child {
	margin-left: 0;
}

#fnb li {
	float: left;
	padding: 0 10px 0 10px;
}

#fnb>li>a {
	display: block;
	color: #666;
	line-height: 30px;
	font-size: .8667em;
}

#fnb>li>a:hover {
	text-decoration: underline #666;
}

#fnb>.privacy>a {
	display: block;
	color: black;
	line-height: 30px;
	font-size: .8667em;
}

#fnb>.privacy>a:hover {
	text-decoration: underline black;
}

.btn-looking-theater {
	overflow: hidden;
	float: right;
	display: block;
	width: 106px;
	height: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 28px;
	color: #666;
	font-size: .8667em;
	border: 1px solid #d8d9db;
	border-radius: 30px;
	text-decoration: none;
}

.btn-looking-theater i {
	margin-right: 4px;
}

.ico-footer-search {
	width: 15px;
	height: 15px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-footer-search.png);
}

.iconset {
	overflow: hidden;
	display: inline-block;
	margin: -1px 0 0 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	background-position: 0 0;
	background-repeat: no-repeat;
}

#footer-img {
	display: block;
	float: left;
	width: 150px;
	height: 50px;
	margin: 0 20px 0 0;
}

#footer-img>img {
	width: 100%;
	height: 100%;
}

#footer-info {
	float: left;
	font-size: .8667em;
	letter-spacing: 0;
}

#footer-info address {
	display: inline-block;
	vertical-align: top;
}

address {
	margin: 0;
	padding: 0;
	font-style: normal;
}

#footer-info p {
	display: inline-block;
	vertical-align: top;
}

#footer p {
	margin: 0;
	padding: 0;
}

#footer-info p.copy {
	display: block;
}

#footer-sns {
	float: right;
}

#footer-sns a {
	display: block;
	float: left;
	width: 32px;
	height: 30px;
	margin-left: 5px;
	font-size: 0;
	line-height: 0;
}

a:visited {
	color: #666;
	text-decoration: none;
	outline: 1px dotted #000;
}

a {
	background-color: transparent;
}

#footer-sns a i {
	display: block;
	margin: 0;
}

.ico-youtubeN {
	width: 30px;
	height: 30px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-youtubeN.png);
}

.iconset {
	overflow: hidden;
	display: inline-block;
	margin: -1px 0 0 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.ico-instagramN {
	width: 30px;
	height: 30px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-instagramN.png);
}

.ico-facebookN {
	width: 30px;
	height: 30px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-facebookN.png);
}

.ico-twitterN {
	width: 30px;
	height: 30px;
	background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-twitterN.png);
}